body{
 background-image: url("/FrontEnd/images/fondo.png");
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
}

.recuadro {
    max-width: 90%; 
    width: 500px; 
    margin: 50px auto; 
    margin-top: 150px;
    padding: 20px; 
    padding-bottom: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 5px; 
    border: 1px solid black;
    background-color: #f7f7f7; 
    color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

label{
    display: block;
    font-size: 18px; 
}

input {
    width: 300px; /* Ancho del input */
    height: 20px; /* Alto del input */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border: 1px solid #ccc; /* Borde */
}

#Login{
    padding: 15px 120px;
    background-color:  #19197c;
    margin-top: 75px;
    text-align: center;
    border: solid black 2px;
    color: rgb(240, 253, 255);
    display: block;
    cursor: pointer; 
}

#Login:hover{
    background-color: white;
    color: #19197c;
}

.Campos{
    margin-top: 25px;
}

.seguido {
    display: inline-block; 
    margin: 0; 
}

.seguido-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.Campos-cuenta{
    margin-top: 60px;
}

.form-control {
    border-radius: 10px;
    border: 2px solid #19197c;
}

.design {
    border: 2px solid black; /* Borde sólido y visible */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
    background-color: #f7f7f7; /* Fondo claro para destacar */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 700px; /* Ajusta el ancho máximo */
    overflow: hidden; /* Evita que los elementos se desborden fuera del borde */
}


